@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Child Development</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the school of Child Development</h2>
        <p>
            Child Development is currently the no.1 major where
            you will gain no job skills, but also learn absolutely
            nothing about what raising a child is actually like!
            It is the no.1 major chosen by women who need an excuse
            to attend school so they can find a potential mate.
        </p>
    </div>
    <div class="col-md-4">
        <img src="https://static.pexels.com/photos/37910/billy-goat-goat-goatee-animal-37910.jpeg" height="500"/>
    </div>
</div>